In [ ]:
print('Hello World') #My very first Python code

Hello World

In [ ]:
#Python Date Types
#1.Numbers
#Integers and Float

In [ ]:
#Integer (int)
x = 1
y = 2
print(x + y)

3

In [ ]:
#Float
x = 1.5
y = 2.0
print(x + y)

3.5

In [ ]:
#Strings
x = 'Hello'
y = 'World'
print (x + y)

HelloWorld

In [ ]:
print ('my name is bea') #single quatation mark

my name is bea

In [ ]:
print ('my name is bea') #double quotation mark

my name is bea

In [ ]:
x = '123456'
y = 123456
z = 7890.00
print ('This is a string', x)

This is a string 123456

In [ ]:
print (This is a integer, y)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (<ipython-input-13-6448c01eeb81>, line 1)

In [ ]:
#\n (for spacing)
print('Bea \nBianca \nLopez')

Bea
Bianca
Lopez

In [ ]:
a = 2
b = 3
print(a + b) #addition
print(a - b) #substraction
print(a * b) #multiplication
print(a / b) #division

x = 9
y = 4
print(9 % 4) #modulo operator

print(x ** 2)
print(2 ** 3) #expotential

5
-1
6
0.6666666666666666
1
81
8

In [ ]:
print(9 / 5)
print(9 // 5) #floor division

1.8
1

In [ ]:
#comparison operators
# less than (<)
# greater than (>)
# equal to (==)
# not equal to (!=)
# greter than or equal to (>=)
# less than or equal to (<=)
#output results to boolean values (true or false)

x = 10
y = 5
print(x < y)
print(x > y)
print(x == y)
print(x != y)
print(x >= y)
print(x <= y)

False
True
False
True
True
False

In [ ]:
#Boolean Operators
#or
#and
#not,

print(x or y)
print(x and y)
print(x, not y)

10
5
10 False

In [ ]:
#Looping

x = 5

if x == 10:
  print('equal to')
else:
    print('less than')

less than

In [ ]:
#Assignment of Variables

name = 'bea'
surname = 'lopez'
print(name + surname)

#number
hours = 8
score = 90
print(hours)
print(score)

#Naming Variable
name = 'Bea'
unitPrice = 100
unit_price = 200

bealopez
8
90

In [ ]:
f_name = 'Bea'
l_name = 'Lopez'
age = 19

print(f'My name is {f_name} {l_name} and I am {age} years old')

My name is Bea Lopez and I am 19 years old

In [ ]:
#Built-in functions
#type() to know the data type
#rounding-off

x = 9
y = 8.7
z = 'Bea'

type(x) #int
type(y) #float
type(z) #str

round(y, 0)

9.0